# dependencies
/node_modules
cache/
.pnpm-store/

# testing
/coverage
coverage.json
/test/outputs

# next.js
/.next/
/out/

# production
/src/types/
/src/deploy/output
/artifacts
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
public/fonts/
